extends layout

block content
    body.counter-page
        .span6.moveSpan2
            .moveSpan3
                #countdown-timer
                    .dash2 Time Left
                    #countdown.digitcounter
                    .colon_game2 :
                    #countdown1.digitcounter2
                #grouping
                    p#displayUser.span2.timerDisplay 0
                    p#displayText.span2.textDisplay User
                    p.span2.textDisplay2 Online
                #grouping2
                    p#displayMale.span2.timerDisplay 0
                    p#displayTextMale.span2.textDisplay Male
                #grouping2
                    p#displayFemale.span2.timerDisplay 0
                    p#displayTextFemale.span2.textDisplay Female
                #grouping2
                    p#displayRandom.span2.timerDisplay 0
                    p#displayTextRandom.span2.textDisplay Random
                #grouping2
                    p#displayUndefine.span2.timerDisplay 0
                    p#displayTextUndefine.span2.textDisplay Undefine
        script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
        script( src="/socket.io/socket.io.js")
        script( src="/bootstrap/js/jquery-2.0.3.min.js")
        script(type='text/javascript', src="/bootstrap/js/counter.js")