extends layout

block content
    body.credit-bg
        .head.peekawoo-logo2
        center
            br
            br
            br
            .credit_container
                .credit_text
                    p.buy_credit Buy credits
                form.credit_img_container(method='post', action='/checkout')
                    #imgBtn_con
                        button#credit_img_button10.ten_credit(type='button')
                            input(type='radio', id='btn10', name='plan', value='credit10', hidden='true')
                        p.price Price: $10
                    #imgBtn_con                   
                        button#credit_img_button20.twenty_credit(type='button')
                            input(type='radio', id='btn20', name='plan', value='credit20', hidden='true')
                        p.price Price: $20
                    #imgBtn_con                            
                        button#credit_img_button30.thirty_credit(type='button')
                            input(type='radio', id='btn30', name='plan', value='credit30', hidden='true')
                        p.price Price: $30
                    #paypalSubmit_con
                        input(id='submitBtn', type='submit', value='Checkout')
                p.or_chat OR
                form.chatBtn_container(method='get', action='/credit', id='credit')
                    .chat_button
                        button#on_chat.proceed(type='button')
                            input(type='radio', id='cred', name='cred', value='chat', hidden='true')
                        button#iSubmit(type='submit', name='submit', hidden='true')
            script
                $('#credit_img_button10').click(function(ev){
                    $('#credit_img_button10').not(this).css('border', '0px solid #e0ae11').removeClass('s');
                    if(!$(this).is('s')){
                        $(this).css('border', '3px solid #e0ae11').addClass('s');
                        $('#btn10').prop("checked", true);
                        $('#btn20').prop("checked", false);
                        $('#btn30').prop("checked", false);
                        $('#credit_img_button20').css('border', '0px solid #e0ae11').removeClass('s');
                        $('#credit_img_button30').css('border', '0px solid #e0ae11').removeClass('s');
                    }
                    else {
                        $('#btn10').prop("checked", false);
                        $('#btn20').prop("checked", false);
                        $('#btn30').prop("checked", false);
                        $(this).css('border', '0px solid #e0ae11').removeClass('s');
                    }
                });
                $('#credit_img_button20').click(function(ev){
                    $('#credit_img_button20').not(this).css('border', '0px solid #e0ae11').removeClass('s');
                    if(!$(this).is('s')){
                        $(this).css('border', '3px solid #e0ae11').addClass('s');
                        $('#btn20').prop("checked", true);
                        $('#btn10').prop("checked", false);
                        $('#btn30').prop("checked", false);
                        $('#credit_img_button10').css('border', '0px solid #e0ae11').removeClass('s');
                        $('#credit_img_button30').css('border', '0px solid #e0ae11').removeClass('s');
                    }
                    else {
                        $('#btn10').prop("checked", false);
                        $('#btn20').prop("checked", false);
                        $('#btn30').prop("checked", false);
                        $(this).css('border', '0px solid #e0ae11').removeClass('s');
                    }
                });
                $('#credit_img_button30').click(function(ev){
                    $('#credit_img_button30').not(this).css('border', '0px solid #e0ae11').removeClass('s');
                    if(!$(this).is('s')){
                        $(this).css('border', '3px solid #e0ae11').addClass('s');
                        $('#btn30').prop("checked", true);
                        $('#btn20').prop("checked", false);
                        $('#btn10').prop("checked", false);
                        $('#credit_img_button20').css('border', '0px solid #e0ae11').removeClass('s');
                        $('#credit_img_button10').css('border', '0px solid #e0ae11').removeClass('s');
                    }
                    else {
                        $('#btn10').prop("checked", false);
                        $('#btn20').prop("checked", false);
                        $('#btn30').prop("checked", false);
                        $(this).css('border', '0px solid #e0ae11').removeClass('s');
                    }
                });                   
        script(src="https://www.paypalobjects.com/js/external/dg.js")
    script
        $('#on_chat').click(function(ev){
            $('#cred').prop("checked", true);
            $('#iSubmit').click();
        });  
