extends layout

block content
    body.subscribe-bg(oncontextmenu='return false;')
        #pd1380184526508.pd-embed
        .head.peekawoo-logo
        .container
            .error-blue-image2
            p.text-error1 No one is available at the moment.
            p.text-error2 Come back again later
            center
                input(type="hidden",id="url",value=JSON.parse(baseurl).url)
                input#send.btn.btn-info.btn-large(type="button" onclick="" value="Go to Login").buttonerror
        script.
            var xurl = $('#url').val();
            $(document).ready(function(){
                $('#send').attr('onclick',"window.location='"+xurl+"'")
            });