extends layout

block content
    body.subscribe-bg
        .head.peekawoo-logo
        .container
            .error-blue-image2
            p.text-error1 Everyone is out on a date.
            p.text-error2 Come back again later
            center
                input.btn.btn-info.btn-large(type="button" onclick="window.location='/'" value="Go to Login").buttonerror