extends layout

block content
    body.subscribe-bg(oncontextmenu='return false;')
        #pd1380184526508.pd-embed
        .head.peekawoo-logo
        .container
            .error-blue-image
            p.text-error1 Something went kookoo!
            p.text-error2 Come back later or Go back to Login
            center
                input(type="hidden",id="url",value=JSON.parse(baseurl).url)
                input#send.btn.btn-info.btn-large(type="button" onclick="" value="Go to Login").buttonerror
        script
            var xurl = $('#url').val();
            $(document).ready(function(){
                $('#send').attr('onclick',"window.location='"+xurl+"'");
            });