extends layout

block content
    body.loading-bg(oncontextmenu='return false;')
        #pd1380184526508.pd-embed
        .head.peekawoo-logo
        input(type="hidden",id="user",value=JSON.stringify(user))
        .container
            center
                .loading-image
                p.text-loading Please wait while we pair you up..
                br
                p.text-loading Music
                #radio
                    input#radio1(type='radio', name='radio', checked='true')
                    label.radiocolor1(for='radio1') On
                    input#radio2(type='radio', name='radio')
                    label.radiocolor2(for='radio2') Off
                br
                br
                center
                    input.btn.btn-danger.btn-large(type="hidden" onclick="window.location='/ranking'" value="See people who like you")
        script( src="/socket.io/socket.io.js").
        script(language='JavaScript', type='text/javascript', src='/bootstrap/js/Audio-HTML5.js').
        script(type='text/javascript', src="/bootstrap/js/loading.js").
        script(type='text/javascript').
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-43851834-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
            var audioPlayer = document.getElementsByTagName('audio')[0];
            $('.radiocolor1').click(function(){
                audioPlayer.play();
                $("#radio1").prop("checked",true);
                $("#radio2").prop("checked",false);
                //audioPlayer.currentTime = 0;
            });
            $('.radiocolor2').click(function(){
                audioPlayer.pause();
                $("#radio2").prop("checked",true);
                $("#radio1").prop("checked",false);
                //audioPlayer.currentTime = 0;
            });
        script.
            $(function() {
                $( "#radio" ).buttonset();
            });
