extends layout

block content
    body.loading-bg(oncontextmenu='return false;')
        #pd1380184526508.pd-embed
        .head.peekawoo-logo
        input(type="hidden",id="user",value=JSON.stringify(user))
        .container
            center
                .loading-image
                p.text-loading Please wait while we pair you up..
                br
                br
                center
                    input.btn.btn-danger.btn-large(type="hidden" onclick="window.location='/ranking'" value="See people who like you")
        script( src="/socket.io/socket.io.js")
        script(language='JavaScript', type='text/javascript', src='/bootstrap/js/Audio-HTML5.js')
        script(type='text/javascript', src="/bootstrap/js/loading.js")	