extends layout

block content
    body.gender-page(oncontextmenu='return false;')
        #pd1380184526508.pd-embed
        .head.peekawoo-logo
        .container
        form(method='get', action='/loading', id='option')
            .gender-container
                    center
                        .choose-gender-box
                            p.text-gender1 Are you?
                            p.text-gender2 Please specify your gender.
                            .container.chick-container
                                button#but-male.male(type='button')
                                    input(type='radio', id='gender-m', name='gender-m', value='male', hidden='true')
                                button#but-female.female(type='button')
                                    input(type='radio', id='gender-f', name='gender-f', value='female', hidden='true')
                            .text-gender-container
                                p.text-gender3 MALE
                                    p.text-gender4 FEMALE
                                p.text-gender5 Username
                                    input#username(type='text', name='codename', maxlength='8',title='Must be at least 2 characters.')
                                    button#submit(type='submit',name='submit')
                script
                    $('#username').tooltip()
                    $('#but-male').tooltip()
                    $('#but-female').tooltip()
                    $('#but-male').click(function(ev) {
                        $('#but-male').not(this).css('border', '0px solid #66b3cf').removeClass('s');
                        if(!$(this).is('.s')){
                            $(this).css('border', '5px solid #66b3cf').addClass('s');
                            $('#gender-m').prop("checked", true);
                            $('#gender-f').prop("checked", false);
                            $('#but-female').css('border', '0px solid #ea985b').removeClass('s');
                        }
                        else{
                            $('#gender-m').prop("checked", false);
                            $('#gender-f').prop("checked", false);
                            $(this).css('border', '0px solid #66b3cf').removeClass('s');
                            //$('#but-female').css('border', '0px solid #ea985b').addClass('s');
                        }
                    });
                    $('#but-female').click(function(ev) {
                        $('#but-female').not(this).css('border', '0px solid #ea985b').removeClass('s');
                        if(!$(this).is('.s')){
                            $(this).css('border', '5px solid #ea985b').addClass('s');
                            $('#gender-f').prop("checked", true);
                            $('#gender-m').prop("checked", false);
                            $('#but-male').css('border', '0px solid #66b3cf').removeClass('s');
                        }
                        else{
                            $('#gender-f').prop("checked", false);
                            $('#gender-m').prop("checked", false);
                            $(this).css('border', '0px solid #ea985b').removeClass('s');
                            //$('#but-male').css('border', '5px solid #66b3cf').addClass('s');
                        }
                    });
                    $('#option').submit(function() {
                        $('#username').val($('#username').val().replace(" ",""));
                        var textVal = $('#username').val();
                        var male = $('#gender-m').prop('checked');
                        var female = $('#gender-f').prop('checked')
                        var finalGender = false;
                        //alert('male-'+male+' female-'+female);
                        if(male || female){
                            if(textVal.length < 2){
                                return false;
                            }
                        }else{
                            return false
                        }
                    });
                    var _gaq = _gaq || [];
                    _gaq.push(['_setAccount', 'UA-43851834-1']);
                    _gaq.push(['_trackPageview']);
                    (function() {
                        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                    })();
                    function preventBack(){window.history.forward();}
                    setTimeout("preventBack()", 0);
                    window.onunload=function(){null};