extends layout

block content
    body.subscribe-bg(oncontextmenu='return false;')
        #pd1380184526508.pd-embed
        .head.peekawoo-logo
        .container
            .error-blue-image
            p.text-error1 Something went kookoo!
            p.text-error2 Buy again later or go chat now!