link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css' )
link(rel='stylesheet', href='/bootstrap/less/mixins.less' )
link(rel='stylesheet', media='screen', href='/bootstrap/css/bootstrap-responsive.min.css')
link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
link(href='stylesheets/style.css', rel='stylesheet', type='text/css', media='screen')
link(rel="stylesheet" type="text/css", href="/stylesheets/style.css", media="only screen and (min-device-width : 320px) and (max-device-width : 480px), only screen and (min-width : 321px), only screen and (max-width : 320px), only screen and (min-device-width : 768px) and (max-device-width : 1024px), only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape), only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait), only screen and (min-width : 1224px), only screen and (min-width : 1824px), only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5), only screen and (min-width :768px), only screen and (min-width :1024px)")
link(rel="stylesheet", href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css")
link(rel='shortcut icon', href='http://example.com/favicon.ico', type='image/vnd.microsoft.icon')
link(rel='icon', href='http://example.com/favicon.ico', type='image/vnd.microsoft.icon')