extends layout

block content
    body.subscribe-bg
        .head.peekawoo-logo
        .container
            center
                .subscribe2-container
                    button(type="button", onclick="window.open('http://www.facebook.com/peekawooapp','_blank');").subscribe2-image-facebook
                    button(type="button", onclick="window.open('http://www.twitter.com/peekawooapp','_blank');").subscribe2-image-twitter
                    button(type="button", onclick="window.open('http://www.instagram.com/peekawoo','_blank');").subscribe2-image-instagram
            p.text-subscribe2 "Thank you! Like us on Facebook and follow us on Twitter and Instagram"
            